<section class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-12"> 
  <div class="text-center mb-8 sm:mb-12">
    <h4 class="text-xl sm:text-2xl font-bold text-black">OUR EXCLUSIVE TRIPS</h4> 
    <h4 class="text-xl sm:text-2xl font-bold text-black mt-2">Best Tirth Dham Destination</h4> 
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 sm:gap-8">
    <!-- Trip Card -->
   <div class="tripdetails-card">
      <div class="relative w-full h-[450px] overflow-hidden">
        <div class="carousel-item active">
          <img class="tripdetails-bg w-full h-full object-cover" src="https://sbdbooking.wuaze.com/img2/AM6.png" alt="Amarkantak image 3" />
        </div>
      </div>
      <div class="tripdetails-content">
        <div class="tripdetails-content-container">
          <h2 class="tripdetails-title-text">AMARKANTAK</h2>
          <p class="tripdetails-description">
            Sacred town with Narmada's source, lush nature, waterfalls, and ancient temples, spiritual significance.
          </p>
        </div>
        <button class="tripdetails-button">Book Now</button>
      </div>
    </div>
     <!-- Trip Card -->
    <div class="tripdetails-card">
      <div class="relative w-full h-[450px] overflow-hidden">
        <div class="carousel-item active">
          <img class="tripdetails-bg w-full h-full object-cover" src="https://sbdbooking.wuaze.com/img2/MI$.jpg" alt="Maihar image 1" />
        </div>
      </div>
      <div class="tripdetails-content">
        <div class="tripdetails-content-container">
          <h2 class="tripdetails-title-text">MAIHAR</h2>
          <p class="tripdetails-description">
            Sacred site dedicated to Goddess Sharda, located on a hill with stunning views and spiritual significance.
          </p>
        </div>
        <button class="tripdetails-button">Book Now</button>
      </div>
    </div>
    <!-- Trip Card -->
    <div class="tripdetails-card">
      <div class="relative w-full h-[450px] overflow-hidden">
        <div class="carousel-item active">
          <img class="tripdetails-bg w-full h-full object-cover" src="https://sbdbooking.wuaze.com/img2/AY6.jpg" alt="Ayodhya image 1" />
        </div>
      </div>
      <div class="tripdetails-content">
        <div class="tripdetails-content-container">
          <h2 class="tripdetails-title-text">AYODHYA</h2>
          <p class="tripdetails-description">
            Dedicated to Lord Ram, a historic and revered temple with intricate architecture and spiritual significance.
          </p>
        </div>
        <button class="tripdetails-button">Book Now</button>
      </div>
    </div>
  </div>
</section>
